<h1 class="header-text">Welcome! Person's Name</h1>
<div class="large-event">
  <div class="event-photo">
      <img src="http://placekitten.com/200/200">
  </div>
  <div class="event_info">
   <h2 class="large-event_title">Event Title</h2>
    <ul class="event_summary">
      <li class="event_detail event_date">Date: January 12, 2013</li>
      <li class="event_detail"><a href="#lightbox" class="event_rsvp">You're going!</li>
      <li class="event_detail"><a href="eventdetails.html" class="events_more-link">More</a></li>
  </ul>
  </div>
</div><!--close large event-->